.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e0e8f379 !important;
}
.bg {
  background-color: #e0e8f379 !important;
}
.bawah {
  min-height: 85vh;
}
.height-header {
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
}
div h1 {
  color: #ffffff;
}
.a {
  color: #ffffff;
  text-decoration: none;
}
.a:hover {
  color: #ffffff;
}
